<div class="recent">
    
<div class="tab"> 
    <table>
        <caption>
            <div class="transactions">
                <div>Recent Transactions</div>
                <div>
                    <div>View All</div>
                    <div><img src="../img/icons/other/arrow.svg" alt="arrow"></div>
                </div>
            </div>
        </caption>
        <tr>
            <th>Wallet ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>
                <div class="code">DY04210S0XA5</div> 
                <div class="hash">Hash: 2111853732263042</div>
            </td>
            
            <td>May 23, 2022</td>
            <td class="dollar">$250.00</td>
            <td class="green">Completed</td>
        </tr>
        <tr>
            <td>
                <div class="code">PILMA81KS4JA</div>
                <div class="hash">Hash: 0348408522616817</div>
            </td>
            <td>May 19, 2022</td>
            <td class="dollar">$980.00</td>
            <td class="green">Completed</td>
        </tr>
        <tr>
            <td>
                <div class="code">JV72FR6TIL1S</div>
                <div class="hash">Hash: 1555845473775037</div>
            </td>
            <td>May 15, 2022</td>
            <td class="dollar">$290.00</td>
            <td><div class="failed">Failed</div></td>
        </tr>


    </table>

</div>
</div>