
<div class="sidebar">
    <div class="sidebaruha">
        <div class="logo">
            <div><img src="../img/icons/other/logo.svg" alt="logo"></div>
            <div>EasyPay</div>
        </div>
        <div class="menu">
            <div class="main">
                Main menu
            </div>
            <div class="side">
                <div class="seven">
                    <div>
                        <div class="sidebaruha_svg"><img src="../img/icons/sidebar/category.svg" alt="svg"></div>
                        <div>Dashboard</div>
                    </div>
                    <div>
                        <div class="sidebaruha_svg"><img src="../img/icons/sidebar/chart.svg" alt="svg"></div>
                        <div>Transactions</div>
                    </div>
                    <div>
                        <div class="sidebaruha_svg"><img src="../img/icons/sidebar/send.svg" alt="svg"></div>
                        <div>Transfer</div>
                    </div>
                    <div>
                        <div class="sidebaruha_svg"><img src="../img/icons/sidebar/plus.svg" alt="svg"></div>
                        <div>Deposit</div>
                    </div>
                    <div>
                        <div class="sidebaruha_svg"><img src="../img/icons/sidebar/upload.svg" alt="svg"></div>
                        <div>Withdraw</div>
                    </div>
                    <div>
                        <div class="sidebaruha_svg"><img src="../img/icons/sidebar/wallet.svg" alt="svg"></div>
                        <div>Payments</div>
                    </div>
                    <div>
                        <div class="sidebaruha_svg"><img src="../img/icons/sidebar/paper.svg" alt="svg"></div>
                        <div>Messages</div>
                    </div>
                </div>
                <div class="two">
                    <div>
                        <div class="sidebaruha_svg"><img src="../img/icons/sidebar/profile.svg" alt="svg"></div>
                        <div>Account</div>
                    </div>
                    <div>
                        <div class="sidebaruha_svg"><img src="../img/icons/sidebar/setting.svg" alt="svg"></div>
                        <div>Setting</div>
                    </div>
                </div>
            </div>

        </div>
    </div>






</div>
