<div class="total">
    <div>
        <div class="total_balance">
            <div>Total Balance</div>
            <div>
                <div>USDC Balance</div>
                <div><img src="../img/icons/other/arrow.svg" alt="arrow"> </div>
            </div>
        </div>
        <div class="usdc">
            <div>
                <div>54,819.74</div>
                <div>USDC</div>
            </div>
            <div>
                Wallet ID: 2QVT7C0LOWEJ
            </div>
        </div>
    </div>
    <div class="db">
        
        <button class="btn btn_dark">Deposit</button>
        <button class="btn btn_ligth">Withdraw</button>
    </div>
</div>