<header class="header">

    <input type="checkbox" id="burger" hidden/>
    <label for="burger">
        <span></span>
        <span></span>
        <span></span>
        
    </label>
    <div class="sb">
        @include('../partials/_sideBar.html')
    </div>
   
    
        
    <div class="header_end">

        <div class="welcome_back">
        <div>Welcome Back!</div>
        <div>Ricardo Thompson</div>
        </div>

        <div class="search">
        <div>Search transactions...</div>
        <div>
            <img src="../img/icons/other/search.svg" alt="search">
        </div>
        </div>

    </div>
  
</header>
