// colors
$white: #fff;
$primary: #f5f6f8;
$secondary: #f3f5f9;
$tertiary: #d9d9d9;
$black: #1c1d21;
$blue: #0066fe;
$balanceColor: #1b224a;
$green: #34c759;
$red: #ff6b6b;

//size
$btn-width: 174px;
$btn-height: 80px;
$input-width: 275px;
$input-height: 50px;
$borderRadius10: 10px;
$borderRadius12: 12px;
$borderRadius30: 30px;
